* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #EDC1D3, #91BDEC) fixed;
  overflow-y: hidden;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 90vh;
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 30px;
  padding: 58px 70px;
  overflow: scroll;
}

.main-header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.main-header__title {
  margin-right: 20px;
}
.main-header__title span {
  color: #F3477A;
}
.add-task-btn {
  color: white;
  background-color: #884CB2;
  border: none;
  border-radius: 10px;
  padding: 8px 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .5s;
}
.add-task-btn:before {
  content: url("./images/plus-add.png");
  margin-right: 5px;
}
.add-task-btn:active {
  transform: translateY(8px);
}
.form-section {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  animation-name: topToBottom;
  animation-duration: .8s;
  animation-fill-mode: backwards;
}
.form-section_hidden {
  display: none;
}
form input {
  display: block;
  width: 250px;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid gray;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container__select {
  margin-bottom: 8px;
  border-radius: 8px;
  padding: 5px 10px;
  width: 250px;
}
.create-task-btn, .change-task-btn {
  background-color: #884CB2;
  color: white;
  border-radius: 10px;
  padding: 8px 30px;
  border: none;
  display: block;
  cursor: pointer;
}
.create-task-btn_hidden, .change-task-btn_hidden {
  display: none;
}

.tasks-block {
  margin-bottom: 46px;
}

.tasks-block_hidden {
  display: none;
}

.tasks-block__title {
  margin-bottom: 28px;
  animation-name: topToBottom;
  animation-duration: .8s;
  animation-fill-mode: backwards;
}
.tasks-block__title_hidden {
  display: none;
}

.tasks-block__list_completed {
  opacity: 0.5;
}

.tasks-list {
  list-style-type: none;
  margin-bottom: 17px;
  animation-name: leftToRight;
  animation-duration: .8s;
  animation-fill-mode: backwards;
}

.tasks-list__elem {
  margin-bottom: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks-list__text {
  display: inline-block;
  width: 45%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
  position: relative;
}

.tasks-list__text::before {
  content: url('images/task-icon.svg');
  margin-right: 7px;
}

.tasks-list__btn-main {
  border-radius: 30px;
  padding: 3px 20px;
  border: none;
  cursor: pointer;
  width: 11.22%;
}

.tasks-list__btn-main_pending {
  background: rgba(242, 153, 74, 0.2);
  color: #F2994A;
}
.tasks-list__btn-main_inprogress {
  background: rgba(86, 204, 242, 0.2);
  color: #56CCF2;;
}
.tasks-list__btn-main_done {
  background: rgba(39, 174, 96, 0.2);
  color: #27AE60;
}

.tasks-list__status, .tasks-list__time {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #5C626D;
  width: 12%;
}

.tasks-list__status img {
  margin-right: 5px;
}

.tasks-list__dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -30px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.tasks-list__dropdown a:hover {
  background-color: #E49EFF;
}

/* .tasks-list__status::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 30px;
  background-color: #219653;
  margin-right: 5px;
} */

.tasks-list__btn-edit {
  cursor: pointer;
}

hr {
  border: 0.5px solid #E0E0E0;
}

@keyframes topToBottom {
  0% {
    transform: translateY(-10px);

  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes leftToRight {
  0% {
      transform: translateX(-20px);
  
    }
  
    100% {
      transform: translateX(0px);
    }
}